include README.md
include LICENSE
include pyproject.toml
include MANIFEST.in
include requirements.txt
include requirements-lint.txt
include pyrightconfig.json

recursive-include torch_checkpointing *.py
recursive-include torch_checkpointing py.typed

recursive-exclude tests *
recursive-exclude docs *
recursive-exclude .github *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * *.dylib
